body {
    margin: 0; /* faz colar na borda do navegador */
}
.esquerda {
    background-color: red;
    float: left; /* deixar div lado a lado */
    width: 50%; /* proporção de ocupação na horizontal */
    height: 100vh; /* proporção de ocupação na vertical */
}
.direita {
    background-color: green;
    float: left; /* deixar div lado a lado */
    width: 50%;
    height: 100vh;
}